.App {
  width: 300px;
  margin: 5% auto;
}

.search {
  width: 22rem;
  padding: 7px;
  font-size: 1.2rem;
  box-sizing: border-box;
  outline: none;
  margin-top: 8rem;
  border-radius: 5px;
  font-weight: bold;
}

.autocomplete {
  background: #fff;
  border-radius: 5px;
  border: 1px solid black;
  width: 22rem;
  height: 8rem;
  padding-top: 10px;
}

.autocompleteItems {
  border-bottom: 1px solid blue;
  padding: 10px 5px;
  cursor: pointer;
  color: dodgerblue;
  font-weight: bold;
  border: 0.5px solid salmon;
}
